{% extends "templates/page.html" %}
{% block stylesheet %}
{{ super() }}
<style>
   <div class="admin-container">
        <div class="admin-navbar">
            <ul>
                <a class="course-nav active" id="course-nav">Courses</a>
                <a class="instructor-nav" id="instructor-nav">Trainers</a>
                <a class="learner-nav" id="learner-nav">Learners</a>
            </ul>
        </div>
        <div class="description-bar">
                <p class="description" id="description">You can manage Course details here.</p>
                <div id="left-description-bar" >
                    <form>
                        <input type="search" value="" placeholder="Search...">
                        <button class="searchIcon" type="submit"></button>
                    </form>
                   
                    <select  id="instructors_filter" class="stop-visible">
                        <option default  value="all">All</option>
                        <option value="mapped">Mapped</option>
                        <option value="unmapped">Unmapped</option>
                    </select>
                    <button class="add-btn" id="add-btn">Add Course</button>
                </div>
        </div>
        <div id="courseDetails">
            <div class="courseDetails" id="courseCardCont">
                <div class="courseCard" id="courseCard">
                    <div class="course-card-left">
                        <p class="course-title">Data Science -Python and ML Basics</p>
                        <div class="arrange-row">
                            <div class="arrange-col">
                                <span class="learner-count-title">Learner count</span>
                                <span class="learner-count">123</span>
                            </div>
                            <div class="arrange-col">
                                <span class="learner-count-title">Trainer name</span>
                                <span class="learner-count">Sidhartha Chinthapally</span>
                            </div>
                        </div>

                    </div>
                    <div class="delete-icon" id="delete-icon">
                        <img src="https://i.postimg.cc/prKj8HZB/delete.png" alt="del">
                    </div>
                </div> 
            </div>
        </div>
        <div id="trainerDetails" class="stop-visible">
            <div class="trainerDetails">
                <div class="trainerCard trainerCard-width">
                    <div class="trainer-card-left">
                        <p class="trainer-title">Sidhartha Chinthapally</p>
                        <div class="arrange-row">
                            <div class="arrange-col">
                                <span class="learner-count-title">Course count</span>
                                <span class="learner-count">12</span>
                            </div>
                            <div class="arrange-col">
                                <span class="learner-count-title">Status</span>
                                <span class="learner-count">Mapped</span>
                            </div>
                        </div>  
                    </div>
                    <div class="eye-icon" id="trainer-eye-icon">
                        <img src="https://i.postimg.cc/KzLzhpXT/eye.png" alt="eye">
                    </div>
                </div>
            </div>
        </div>
        <div id="learnerDetails" class="stop-visible">
            <table id="learner-table">
                <tr id="learner-thead">
                    <th>Learners Name</th>
                    <th>Actions</th>
                    <th>Remove</th>
                </tr>
                <tbody>
                    <tr>
                        <td>Sravanthi Peetla</td>
                        <td><img src="https://i.postimg.cc/KzLzhpXT/eye.png" alt=""></td>
                        <td><img src="https://i.postimg.cc/prKj8HZB/delete.png" alt=""></td>
                    </tr>
                    <tr>
                        <td>Sravanthi Peetla</td>
                        <td><img src="https://i.postimg.cc/KzLzhpXT/eye.png" alt=""></td>
                        <td><img src="https://i.postimg.cc/prKj8HZB/delete.png" alt=""></td>
                    </tr>
                    <tr>
                        <td>Sravanthi Peetla</td>
                        <td><img src="https://i.postimg.cc/KzLzhpXT/eye.png" alt=""></td>
                        <td><img src="https://i.postimg.cc/prKj8HZB/delete.png" alt=""></td>
                    </tr>
                    <tr>
                        <td>Sravanthi Peetla</td>
                        <td><img src="https://i.postimg.cc/KzLzhpXT/eye.png" alt=""></td>
                        <td><img src="https://i.postimg.cc/prKj8HZB/delete.png" alt=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="bg-model" id="deleteCourseModal">
        <div class="course-model">
            <div>
                <div class="delete-course-model-top-first">
                    <h1>Delete Course</h1>
                    <div id="deleteCancel">
                        <span> &times;</span>
                    </div>
                </div>
                    <h1 class="delete-title">Data Science -Python and ML Basics </h1>
            </div>
                <div class="delete-course-model-bottom">
                    <button id="delete-button" class="delete-button">Delete</button>
                    <button id="cancel-button" class="cancel-button">Cancel</button>
                    <p>once deleted can't be restore again</p>  
                </div>  
        </div>
       
    </div>
    <div class="bg-model" id="addCourseModal">
        <div class="course-model add-course-model-height">
            <div>
                <div class="add-course-model-top-first">
                    <h1 id="modelTitle">Add Course</h1>
                    <div id="addCourseCancel">
                        <span> &times;</span>
                    </div>
                </div>
                    <div class="add-course-name">
                        <p>Course Name</p>
                        <input type="text" placeholder="Enter course name">
                    </div>
                    <div class="choose-trainer-name">
                        <div class="choose-trainer-arrange">
                            <p>Choose Trainer</p>
                            <span>Existing Trainer</span>
                        </div> 
                        <select placeholder="Enter course name">
                            <option default  value="" class="choose-trainer-option">Choose trainer</option>
                        </select>
                    </div>
            </div>
                <div class="add-course-model-bottom">
                    <button id="delete-button" class="add-button">Add</button>
                    <button id="cancel-button" class="cancel-button">Cancel</button>
                </div>  
        </div>
       
    </div>
    <div class="bg-model" id="deleteTrainerModal">
        <div class="trainer-model">
            <div>
                <div class="delete-trainer-model-top-first">
                    <h1 class="delete-trainer-title">Trainer-<span class="delete-trainer-name">Sidhartha Chinthapally</span></h1>
                    <div id="deleteTrainerCancel">
                        <span>&times;</span>
                    </div>
                </div>
            </div> 
        </div>
       
    </div>
    <div class="bg-model" id="addLearnerModal">
        <div class="course-model add-learner-model-height">
            <div>
                <div class="add-learner-model-top-first">
                    <h1>Add Learners</h1>
                    <div id="addLearnerCancel">
                        <span> &times;</span>
                    </div>
                </div>
                    <div class="change-learner">
                        <button id="singleUser" class="learner-inactive learner-active">Single User</button>
                        <button id="multipleUser" class="learner-inactive">Bulk Users</button>
                    </div>
                    <div id="singleLearner">
                        <div class="add-learner">
                            <div class="choose-trainer-arrange">
                                <p>User ID</p>
                                <span>Single learner</span>
                            </div> 
                            <input type="text" placeholder="Enter user ID">
                        </div>
                    </div>
                    <div id="multipleLearners" class="stop-visible">
                        <div class="add-learner">
                            <div class="choose-trainer-arrange">
                                <p>Upload CSV file</p>
                                <span>Multiple learners</span>
                            </div> 
                            <button class="upload-btn"><img src="https://i.postimg.cc/7Z71QKgW/Vector-4.png" alt=""></button>
                        </div>
                    </div>
            </div>
                <div class="add-course-model-bottom">
                    <button id="delete-button" class="add-button">Add</button>
                    <button id="cancel-button" class="cancel-button">Cancel</button>
                </div>  
        </div>
       
    </div>
    
</style>
{% endblock %}
{% block main %}
<div id="react-admin-hook">
  <script id="jupyterhub-admin-config">
    window.api_page_limit = parseInt("{{ api_page_limit|safe }}")
    window.base_url = "{{ base_url|safe }}"
  </script>
  <script src={{ static_url("js/admin.js") }}></script>
      <div class="admin-container">
          <div class="admin-container">
        <div class="admin-navbar">
            <ul>
                <a class="course-nav active" id="course-nav">Courses</a>
                <a class="instructor-nav" id="instructor-nav">Trainers</a>
                <a class="learner-nav" id="learner-nav">Learners</a>
            </ul>
        </div>
        <div class="description-bar">
                <p class="description" id="description">You can manage Course details here.</p>
                <div id="left-description-bar" >
                    <form>
                        <input type="search" value="" placeholder="Search...">
                        <button class="searchIcon" type="submit"></button>
                    </form>
                   
                    <select  id="instructors_filter" class="stop-visible">
                        <option default  value="all">All</option>
                        <option value="mapped">Mapped</option>
                        <option value="unmapped">Unmapped</option>
                    </select>
                    <button class="add-btn" id="add-btn">Add Course</button>
                </div>
        </div>
        <div id="courseDetails">
            <div class="courseDetails" id="courseCardCont">
                <div class="courseCard" id="courseCard">
                    <div class="course-card-left">
                        <p class="course-title">Data Science -Python and ML Basics</p>
                        <div class="arrange-row">
                            <div class="arrange-col">
                                <span class="learner-count-title">Learner count</span>
                                <span class="learner-count">123</span>
                            </div>
                            <div class="arrange-col">
                                <span class="learner-count-title">Trainer name</span>
                                <span class="learner-count">Sidhartha Chinthapally</span>
                            </div>
                        </div>

                    </div>
                    <div class="delete-icon" id="delete-icon">
                        <img src="https://i.postimg.cc/prKj8HZB/delete.png" alt="del">
                    </div>
                </div> 
            </div>
        </div>
        <div id="trainerDetails" class="stop-visible">
            <div class="trainerDetails">
                <div class="trainerCard trainerCard-width">
                    <div class="trainer-card-left">
                        <p class="trainer-title">Sidhartha Chinthapally</p>
                        <div class="arrange-row">
                            <div class="arrange-col">
                                <span class="learner-count-title">Course count</span>
                                <span class="learner-count">12</span>
                            </div>
                            <div class="arrange-col">
                                <span class="learner-count-title">Status</span>
                                <span class="learner-count">Mapped</span>
                            </div>
                        </div>  
                    </div>
                    <div class="eye-icon" id="trainer-eye-icon">
                        <img src="https://i.postimg.cc/KzLzhpXT/eye.png" alt="eye">
                    </div>
                </div>
            </div>
        </div>
        <div id="learnerDetails" class="stop-visible">
            <table id="learner-table">
                <tr id="learner-thead">
                    <th>Learners Name</th>
                    <th>Actions</th>
                    <th>Remove</th>
                </tr>
                <tbody>
                    <tr>
                        <td>Sravanthi Peetla</td>
                        <td><img src="https://i.postimg.cc/KzLzhpXT/eye.png" alt=""></td>
                        <td><img src="https://i.postimg.cc/prKj8HZB/delete.png" alt=""></td>
                    </tr>
                    <tr>
                        <td>Sravanthi Peetla</td>
                        <td><img src="https://i.postimg.cc/KzLzhpXT/eye.png" alt=""></td>
                        <td><img src="https://i.postimg.cc/prKj8HZB/delete.png" alt=""></td>
                    </tr>
                    <tr>
                        <td>Sravanthi Peetla</td>
                        <td><img src="https://i.postimg.cc/KzLzhpXT/eye.png" alt=""></td>
                        <td><img src="https://i.postimg.cc/prKj8HZB/delete.png" alt=""></td>
                    </tr>
                    <tr>
                        <td>Sravanthi Peetla</td>
                        <td><img src="https://i.postimg.cc/KzLzhpXT/eye.png" alt=""></td>
                        <td><img src="https://i.postimg.cc/prKj8HZB/delete.png" alt=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="bg-model" id="deleteCourseModal">
        <div class="course-model">
            <div>
                <div class="delete-course-model-top-first">
                    <h1>Delete Course</h1>
                    <div id="deleteCancel">
                        <span> &times;</span>
                    </div>
                </div>
                    <h1 class="delete-title">Data Science -Python and ML Basics </h1>
            </div>
                <div class="delete-course-model-bottom">
                    <button id="delete-button" class="delete-button">Delete</button>
                    <button id="cancel-button" class="cancel-button">Cancel</button>
                    <p>once deleted can't be restore again</p>  
                </div>  
        </div>
       
    </div>
    <div class="bg-model" id="addCourseModal">
        <div class="course-model add-course-model-height">
            <div>
                <div class="add-course-model-top-first">
                    <h1 id="modelTitle">Add Course</h1>
                    <div id="addCourseCancel">
                        <span> &times;</span>
                    </div>
                </div>
                    <div class="add-course-name">
                        <p>Course Name</p>
                        <input type="text" placeholder="Enter course name">
                    </div>
                    <div class="choose-trainer-name">
                        <div class="choose-trainer-arrange">
                            <p>Choose Trainer</p>
                            <span>Existing Trainer</span>
                        </div> 
                        <select placeholder="Enter course name">
                            <option default  value="" class="choose-trainer-option">Choose trainer</option>
                        </select>
                    </div>
            </div>
                <div class="add-course-model-bottom">
                    <button id="delete-button" class="add-button">Add</button>
                    <button id="cancel-button" class="cancel-button">Cancel</button>
                </div>  
        </div>
       
    </div>
    <div class="bg-model" id="deleteTrainerModal">
        <div class="trainer-model">
            <div>
                <div class="delete-trainer-model-top-first">
                    <h1 class="delete-trainer-title">Trainer-<span class="delete-trainer-name">Sidhartha Chinthapally</span></h1>
                    <div id="deleteTrainerCancel">
                        <span>&times;</span>
                    </div>
                </div>
            </div> 
        </div>
       
    </div>
    <div class="bg-model" id="addLearnerModal">
        <div class="course-model add-learner-model-height">
            <div>
                <div class="add-learner-model-top-first">
                    <h1>Add Learners</h1>
                    <div id="addLearnerCancel">
                        <span> &times;</span>
                    </div>
                </div>
                    <div class="change-learner">
                        <button id="singleUser" class="learner-inactive learner-active">Single User</button>
                        <button id="multipleUser" class="learner-inactive">Bulk Users</button>
                    </div>
                    <div id="singleLearner">
                        <div class="add-learner">
                            <div class="choose-trainer-arrange">
                                <p>User ID</p>
                                <span>Single learner</span>
                            </div> 
                            <input type="text" placeholder="Enter user ID">
                        </div>
                    </div>
                    <div id="multipleLearners" class="stop-visible">
                        <div class="add-learner">
                            <div class="choose-trainer-arrange">
                                <p>Upload CSV file</p>
                                <span>Multiple learners</span>
                            </div> 
                            <button class="upload-btn"><img src="https://i.postimg.cc/7Z71QKgW/Vector-4.png" alt=""></button>
                        </div>
                    </div>
            </div>
                <div class="add-course-model-bottom">
                    <button id="delete-button" class="add-button">Add</button>
                    <button id="cancel-button" class="cancel-button">Cancel</button>
                </div>  
        </div>
       
    </div>
    
   </div>
        
  </div>
  {% endblock %}

  {% block footer %}
  {% endblock %}

  {% block script %}
  {{ super() }}
  <script type="text/javascript">
    // require(["admin"]);
    
    // custom script
    
    const hub_url = `/api/`;    
    const ngshare_url = `/services/ngshare/`;
    
    // To change the color for active link in top left navbar items
    const currentUrl = window.location.pathname.split("/");
    const currentAnchorTagText = currentUrl[currentUrl.length - 1];
    
    $('.navbar-nav a').each(function () {
      if ($(this).text().toLowerCase() == currentAnchorTagText) {
        $(this).css("color", "#006BB6");
      }
    });

    // To hide left navbar items - 'Token' and 'services'
    let instructor = document.getElementById('instructor-nav');
let courses = document.getElementById('course-nav');
let learner = document.getElementById('learner-nav');
let addBtn = document.getElementById('add-btn');
let courseDetails = document.getElementById('courseDetails');
let description = document.getElementById('description');
let req = document.getElementById('req');
let courseCard = document.getElementById('courseCard');
let trainerDetails = document.getElementById('trainerDetails');
let instructorsFilter = document.getElementById('instructors_filter');
let learnerDetails = document.getElementById('learnerDetails');
let deleteIcon = document.getElementById('delete-icon');
let deleteCourseModal = document.getElementById('deleteCourseModal');
let deleteCancel = document.getElementById('deleteCancel');
let addLearnerModal = document.getElementById('addLearnerModal');
let addCourseCancel = document.getElementById('addCourseCancel');
let courseCardCont = document.getElementById('courseCardCont');
let trainerEyeIcon = document.getElementById('trainer-eye-icon');
let deleteTrainerModal = document.getElementById('deleteTrainerModal');
let deleteTrainerCancel = document.getElementById('deleteTrainerCancel');
let addLearnerCancel = document.getElementById('addLearnerCancel');
let singleUserBtn = document.getElementById('singleUser');
let multipleUserBtn = document.getElementById('multipleUser');
let singleLearner = document.getElementById('singleLearner');
let multipleLearners = document.getElementById('multipleLearners');
let modelTitle = document.getElementById('modelTitle');
let courses_ =[
    {
        id:1,
        courseName :'Data Science - Python and ML Basics',
        learnerCount : '123',
        trainer:'Sidhartha Chinthapally'
    },
    {
        id:2,
        courseName :'Python',
        learnerCount : '13',
        trainer:'Sravanthi Peetla'
    },
    {
        id:3,
        courseName :'Statistics',
        learnerCount : '12',
        trainer:'Sidhartha Chinthapally'
    },
    {
        id:4,
        courseName :'Data Science - Python and ML Basics',
        learnerCount : '103',
        trainer:'Sidhartha Chinthapally'
    },
    {
        id:5,
        courseName :'python',
        learnerCount : '11',
        trainer:'Sidhartha Chinthapally'
    },
    {
        id:6,
        courseName :'Data Science - Python and ML Basics',
        learnerCount : '93',
        trainer:'Sidhartha Chinthapally'
    },
]


function addAndAppendCourse(course) {
    let courseCardId = 'courseCard' + course.id;
    let courseCont = document.createElement('div');
    courseCont.classList.add('courseCard');
    courseCont.id = courseCardId;
    courseCardCont.appendChild(courseCont);

    let courseLeft = document.createElement('div');
    courseLeft.classList.add('course-card-left');
    courseCont.appendChild(courseLeft);

    let courseTitle = document.createElement('p');
    courseTitle.classList.add('course-title');
    courseLeft.appendChild(courseTitle);
    courseTitle.textContent = course.courseName;

    let arrangeRow = document.createElement('div');
    arrangeRow.classList.add('arrange-row');
    courseLeft.appendChild(arrangeRow);

    let arrangeCol = document.createElement('div');
    arrangeCol.classList.add('arrange-col');
    arrangeRow.appendChild(arrangeCol);

    let countTitle = document.createElement('span');
    countTitle.classList.add('learner-count-title');
    countTitle.textContent = 'Learner count';
    arrangeCol.appendChild(countTitle);
    let count = document.createElement('span');
    arrangeCol.appendChild(count);
    count.textContent = course.learnerCount;
    count.classList.add('learner-count');

    let arrangeColTrain = document.createElement('div');
    arrangeColTrain.classList.add('arrange-col');
    arrangeRow.appendChild(arrangeColTrain);

    let trainTitle = document.createElement('span');
    trainTitle.classList.add('learner-count-title');
    trainTitle.textContent = 'Trainer name';
    arrangeColTrain.appendChild(trainTitle);
    let trainName = document.createElement('span');
    arrangeColTrain.appendChild(trainName);
    trainName.textContent = course.trainer;
    trainName.classList.add('learner-count');

    let deleteIconCont = document.createElement('div');
    deleteIconCont.classList.add('delete-icon');
    let deleteIconI = document.createElement('img');
    deleteIconI.src = 'https://i.postimg.cc/prKj8HZB/delete.png';
    deleteIconCont.appendChild(deleteIconI);
    courseCont.appendChild(deleteIconCont);

}
for (let course of courses_) {
    addAndAppendCourse(course);
}

courses.onclick = function() {
    instructorsFilter.classList.add('stop-visible');
    addBtn.textContent = "Add Course";
    description.textContent = "You can manage Course details here.";
    instructor.classList.remove('active');
    courses.classList.add('active');
    learner.classList.remove('active');
    courseDetails.classList.remove('stop-visible');
    trainerDetails.classList.add('stop-visible');
    learnerDetails.classList.add('stop-visible');
}
instructor.onclick = function() {
    instructorsFilter.classList.remove('stop-visible');
    addBtn.textContent = "Add Trainer";
    description.textContent = "You can manage Trainer details here.";
    instructor.classList.add('active');
    courses.classList.remove('active');
    learner.classList.remove('active');
    courseDetails.classList.add('stop-visible');
    trainerDetails.classList.remove('stop-visible');
    learnerDetails.classList.add('stop-visible');
}
learner.onclick = function() {
    instructorsFilter.classList.add('stop-visible');
    addBtn.textContent = "Add Learners";
    description.textContent = "You can manage Learner details here.";
    instructor.classList.remove('active');
    courses.classList.remove('active');
    learner.classList.add('active');
    courseDetails.classList.add('stop-visible');
    trainerDetails.classList.add('stop-visible');
    learnerDetails.classList.remove('stop-visible');
}
deleteIcon.onclick=function(){
    deleteCourseModal.style.display='block';
}
deleteCancel.onclick=function(){
    deleteCourseModal.style.display = 'none';
}
addCourseCancel.onclick=function(){
    addCourseModal.style.display = 'none';
}
addBtn.onclick = function() {
    if (addBtn.textContent==="Add Course" || addBtn.textContent==="Add Trainer"){
    addCourseModal.style.display='block';
    modelTitle.textContent = addBtn.textContent;
    }
    else if (addBtn.textContent==="Add Learners"){
        addLearnerModal.style.display='block';
    }
}
trainerEyeIcon.onclick = function(){
    deleteTrainerModal.style.display ='block';
}
deleteTrainerCancel.onclick = function(){
    deleteTrainerModal.style.display ='none';
}
addLearnerCancel.onclick = function(){
    addLearnerModal.style.display = 'none';
}
singleUserBtn.onclick=function(){
    singleUserBtn.classList.add('learner-active');
    multipleUserBtn.classList.remove('learner-active');
    singleLearner.style.display='block';
    multipleLearners.style.display='none';
}
multipleUserBtn.onclick=function(){
    singleUserBtn.classList.remove('learner-active');
    multipleUserBtn.classList.add('learner-active');
    singleLearner.style.display='none';
    multipleLearners.style.display='block';
}
  </script>
  {% endblock %}
