{% extends "templates/page.html" %}
{% block stylesheet %}
{{ super() }}
<style>
    .navbar-default {
        height: 4.4vh;
        background-color: #F6FBFE;
        border-color: #e7e7e7;
        box-shadow: 0px 3px 5px rgb(0 0 0 / 12%);
    }

    .navbar-nav {
        font-family: poppins;
        font-size: 16px;
        color: #006BB6;
        font-weight: 500;
    }

    .navbar-nav li {
        margin-left: 3rem;
    }

    .navbar-right li {
        margin-left: 3rem;
    }

    #logout{
        border:none;
    }
    .jpy-logo {
        height: 3rem;
    }

    .text-center {
        padding-top: 12rem;
    }

    .server-info {
        font-family: poppins;
        font-weight: 400;
        font-size: 25px;
    }

    #stop {
        background-color: #F7545D;
        font-weight: 600;
        font-family: Poppins;
        font-size: 16px;
        border-radius: 25px;
        width: 25rem;
    }

    #start {
        background-color: #5FBEF0;
        font-weight: 600;
        font-family: Poppins;
        font-size: 16px;
        border-radius: 25px;
        width: 25rem;
    }

    #img-div {
        margin: 8rem;
        width: calc(57vw - 2rem);
    }

    img {
        max-width: 100%;
        height: 100%
    }

    @media (max-width: 2560px) {}

    @media (max-width: 2400px) {}

    @media (max-width: 2100px) {}

    @media (max-width: 1920px) {}

    @media (max-width: 1700px) {}

    @media (max-width: 1400px) {}

    @media (max-width: 1200px) {}

    @media (max-width: 1100px) {}

    @media (max-width: 900px) {}

    @media (max-width: 780px) {}

    @media (max-width: 692px) {}

    @media (max-width: 612px) {}

    @media (max-width: 425px) {}

    @media (max-width: 320px) {}
</style>
{% endblock %}
{% if announcement_home %}
{% set announcement = announcement_home %}
{% endif %}
{% block nav_bar_left_items%}
{% if user.admin %}
{{ super() }}
{% endif %}
{% endblock %}
{% block main %}
<div class='container'>
    <div class='row'>
        <div class='text-center'>
            {% if default_server.active %}
            {{named_spawners}}
            <span class='server-info' id='server-info'>Your workspace is still running. You can stop or go back to your
                workspace
                again.</span>
            <br />
            <br />
            <br />
            <a id='stop' role='button' class='btn btn-lg btn-danger'>
                Stop My Workspace
            </a>
            {% endif %}
            <a id='start' role='button' class='btn btn-lg btn-primary' href='{{ url }}'>
                {% if not default_server.active %}Start{% endif %} My Workspace
            </a>
            <br />
            <div id="img-div">
                <img id="server-img" src="https://datalab-static-images.s3.ap-south-1.amazonaws.com/home_server.svg" />
            </div>
        </div>
    </div>
</div>
{% endblock main %}
{% block script %}
{{ super() }}
<script type="text/javascript">
    require(["home"]);

    //custom script

    // To hide left navbar items - 'Token' and 'services'

    const navbarLeftList = document.getElementsByClassName('nav navbar-nav')[0].getElementsByTagName('li');
    navbarLeftList[1].style.display = 'none';
    navbarLeftList[3].style.display = 'none';

    // To change the color for active link in top left navbar items

    const currentUrl = window.location.pathname.split('/');
    const currentAnchorTagText = currentUrl[currentUrl.length - 1];
    $('.navbar-nav a').each(function () {
        if ($(this).text().toLowerCase() == currentAnchorTagText) {
            $(this).css({
                'color': '#006BB6',
                'border-bottom': '4px solid #006BB6'
            });
        }
    });

    // Logout text remove

    $("#logout").text('');

    //Remove server-info on click of stop server

    $("#stop").click(function () {
        $("#server-info").text("Your workspace is stopping. Please wait...");
        setTimeout(function () {
            $("#sever-info").remove();
            window.location.reload();
        }, 1000);
    });
</script>
{% endblock %}