{% extends "templates/page.html" %} {% block stylesheet %} {{ super() }}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;600;700&family=Poppins:wght@400;600;700&display=swap"
  rel="stylesheet"
/>
{% endblock stylesheet %} {% block nav_bar%}

<div class="section-header">
  <div class="d-flex align-items-center justify-content-between">
    <img
      src="https://ik.imagekit.io/iwwbj9so6/LOGO_-_data_science_lab_QYUIsnln7.png?ik-sdk-version=javascript-1.4.3&updatedAt=1658915400748"
      class="hcl-logo"
    />
    <div
      class="d-flex d-flex align-items-center justify-content-between top-copyright"
    >
      <span>Powered by</span>
      <img
        src="https://ik.imagekit.io/iwwbj9so6/HCL-Logo-1_KlkleOwcX.png?ik-sdk-version=javascript-1.4.3&updatedAt=1658853967349"
      />
    </div>
  </div>
</div>
{% endblock %} {% block main %}
<style>
  .container {
    font-family: 'Poppins', sans-serif !important;
  }
  .justify-content-between {
    justify-content: space-between;
  }
  .d-flex {
    display: flex;
    height: 100%;
  }
  .align-items-center {
    align-items: center;
  }
  .section-header {
    padding: 35px 28px 35px 45px;
  }
  .section-header .hcl-logo {
    width: 301px;
  }
  .top-copyright img {
    width: 145px;
    margin-left: 10px;
  }
  .top-copyright {
    font-size: 14px;
  }
  #sr-progress{
  color: #006BB6;
  font-size:18px;
  font-weight:600;
  }
  .progress-text {
    font-size: 18px;
    font-weight: 600;
  }
  .progress {
    border-radius: 20px;
  }
  .progress-bar {
    background: linear-gradient(275.3deg, #006bb6 8.35%, #5fbef0 70.42%);
    border-radius: 12px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
  .left-section {
    width: 20%;
    position: relative;
    position: relative;
  }
  .student-img {
    overflow: hidden;
  }
  .right-section {
    width: 60%;
    border-radius: 80px 0px 0px 0px;
    position: relative;
    background: #fff;
  }
  .event-log {
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
  }
  #progress-log {
    margin: 8px 8px 8px 8px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }
</style>
<div class="container">
  <div class="row">
    <div class="text-center">
      {% block message %}
      <p class="progress-text">Your server is starting up.</p>
      <p class="progress-text">
        You will be redirected automatically when it's ready for you.
      </p>
      {% endblock %}
       <span id="sr-progress">0%</span>
      <div class="progress">
        <div
          id="progress-bar"
          class="progress-bar"
          role="progressbar"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 0%"
        />
      </div>
    </div>
        <p id="progress-message"></p>
  </div>
  <div class="row">
    <div class="d-flex flex-wrap h-100">
      <div class="left-section">
        <div class="student-img">
          <img
            src="https://ik.imagekit.io/iwwbj9so6/Asset_1_2x_4__1__nsK5zUEbso.png?ik-sdk-version=javascript-1.4.3&updatedAt=1659342763543"
            class="student-2"
          />
        </div>
      </div>
      <div class="right-section">
        <details id="progress-details">
          <summary class="event-log">Event log</summary>
          <div id="progress-log"></div>
        </details>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block script %} {{ super() }}
<script type="text/javascript">
  require(['jquery'], function ($) {
    $('#refresh').click(function () {
      window.location.reload();
    });

    // hook up event-stream for progress
    var evtSource = new EventSource('{{ progress_url }}');
    var progressMessage = $('#progress-message');
    var progressBar = $('#progress-bar');
    var srProgress = $('#sr-progress');
    var progressLog = $('#progress-log');

    evtSource.onmessage = function (e) {
      var evt = JSON.parse(e.data);
      console.log(evt);
      if (evt.progress !== undefined) {
        // update progress
        var progText = evt.progress.toString();
        progressBar.attr('aria-valuenow', progText);
        srProgress.text(progText + '%');
        progressBar.css('width', progText + '%');
      }
      // update message
      var html_message;
      if (evt.html_message !== undefined) {
        progressMessage.html(evt.html_message);
        html_message = evt.html_message;
      } else if (evt.message !== undefined) {
        progressMessage.text(evt.message);
        html_message = progressMessage.html();
      }
      if (html_message) {
        progressLog.append(
          $('<div>').addClass('progress-log-event').html(html_message)
        );
      }

      if (evt.ready) {
        evtSource.close();
        // reload the current page
        // which should result in a redirect to the running server
        window.location.reload();
      }

      if (evt.failed) {
        evtSource.close();
        // turn progress bar red
        progressBar.addClass('progress-bar-danger');
        // open event log for debugging
        $('#progress-details').prop('open', true);
      }
    };
  });
</script>
{% endblock %}
